*{
    padding: 0;
    margin: 0;
}
body{
   background-image: url(fav.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}

.container{
   background-color:white;
   width: 280px;
   height: 50vh;
   margin-top: 200px;
   margin-left: 500px;
   padding-left: 20px;
}
button{
    background: linear-gradient(to bottom,red,blue);

    width: 250px;
    height: 30px;
    border: none;
     border-radius: 20px;
     margin-left: 5px;
}

.container input{
    width: 260px;
    height: 25px;
}
h1{
    padding-left: 100px;
}




